{% extends 'layout.html' %}
{% set active_page = "cv" %}

{% block content %}
  <h2 class="text-center">
      C&nbsp;U&nbsp;R&nbsp;R&nbsp;I&nbsp;C&nbsp;U&nbsp;L&nbsp;U&nbsp;M&nbsp;&nbsp;V&nbsp;I&nbsp;T&nbsp;A&nbsp;E
  </h2>
  <p class="text-center">
      <b>ABIGAIL M. GIFFORD, M.P.A., J.D.</b><br>
      email: Abigail.Gifford@gmail.com<br>
  </p>
  <hr>
  <h3 class="text-center">
      PROFILE
  </h3>
  <h4 class="text-center">
      Career Profile
  </h4>
  <p>
      Background combines strong academic preparation with a record of excellence in diverse, challenging roles. Strong passion and dedication to pursuing a career that improves the lives of America's youth. History of utilizing initiative, imagination and problem&ndash;solving ability &ndash; adding significant value in multiple roles.
  </p>
  <h4 class="text-center">
      Key Strengths
  </h4>
  <p>
      Energetic; intellectually curious; highly ethical; values&ndash;driven; visionary; a passion for professional excellence. Excellent analytical, conceptual, strategic, research, organizational, program &amp; project management skills. Extensive experience analyzing municipal and state budgets (strong MS Excel ability). Excellent written and verbal communicator; able to convey complex legal, policy and financial information in clear, straightforward language.
  </p>
  <hr>
  <h3 class="text-center">
      EXPERIENCE
  </h3>
  <p>
      <b>KIPP: DC</b> &ndash; Washington, DC &ndash; September 2013 &ndash; Present<br>
      <b><i>Federal Grants Manager</i></b> &ndash; Cras justo odio, dapibus ac facilisis in, egestas eget quam. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Maecenas faucibus mollis interdum. Nullam quis risus eget urna mollis ornare vel eu leo. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Maecenas faucibus mollis interdum. Nullam quis risus eget urna mollis ornare vel eu leo.
  </p>
  <p>
      <b>INSPIRED TEACHING DEMONSTRATION PUBLIC CHARTER SCHOOL</b> &ndash; Washington, DC &ndash; August 2011 &ndash; August 2013<br>
      <b><i>Project Manager</i></b> &ndash; Performed a variety of functions supporting the formation, development and operation of a new Charter school. Developed efficient school&ndash;wide systems and policies for internal processes. Served as school liaison at community meetings, local education gatherings, meeting with funders, professional networking events. Managed relationship with various governmental agencies relevant to the school to ensure standard procedures are followed and necessary compliance and legal formalities completed.
  </p>
  <ul>
      <li>Acted as school data manager, collecting and analyzing school data including but not limited to, student demographics, staff demographic, discipline, attendance, and family engagement data.
      </li>
      <li>Organized and implemented recruitment efforts. Organized open houses, created and updated recruitment materials, developed application database, wrote application procedure. Acted as lead contact for questions and concerns from public regarding application and enrollment process.
      </li>
      <li>Acted as Enrollment Specialist carrying out all aspects of Charter School Enrollment, including but not limited to school application policy and procedure, planning and execute charter school lottery, wait list maintenance, enrollment document collection and maintenance of student records.
      </li>
      <li>Assisted the Executive Director with compliance obligations from The Office of the State Superintendent of Education and the Public Charter School Board. Independently managed and fulfilled schools compliance obligation in the 2011&ndash;2012 and 2012&ndash;2013 Child Count Audit, PCSB Proactive Attendance and Discipline Reporting Requirements.
      </li>
      <li>Contributed to and structured the creation of the school's social media strategy, including the School's Website, Twitter and Facebook accounts.
      </li>
      <li>Initiated and maintained donor database and record&ndash;keeping system, Salesforce. Performed all maintenance of donor data, including data entry, tracking, reporting, correspondence, and donor follow&ndash;up.
      </li>
  </ul>
  <p>
      <b>NEW HAVEN BOARD OF EDUCATION</b> &ndash; New Haven, Connecticut &ndash; August 2010 &ndash; May 2011<br>
      <b><i>External Affairs Intern</i></b> &ndash; Performed multiple functions supporting the efforts of the Chief of External Affairs, with heavy emphasis on implementing New Haven's nationally recognized School Change Initiative. Initially shadowed the Chief. Quickly given increasingly responsible assignments. Analyzed and briefed state and federal statutes, policies and judicial decisions on various topics including but not limited to education funding sources, education spending, physical education and health education requirements, attendance policies, and enrollment requirements. Reviewed and interpreted budgets and data published by New Haven and the State Department of Education.
  </p>
  <ul>
      <li>Developed and performed a citywide parent involvement assessment. Surveyed and interviewed principals and parent representatives from each of the district's 52 schools to determine current level of parent involvement. Generated a comprehensive account of each school's perceived strengths, weaknesses and perceived barriers to parent involvement. Assessed each school's unique needs and recommended approaches to improve parent involvement.
      </li>
      <li>Developed and maintained a database of parents and guardians that have signed New Haven Public School Involved Parent Pledge.
      </li>
      <li>Assisted with event planning for New Haven Promise launch. Responsibilities included but were not limited to phone calls, invitations, banners and decorations, registration, and student and guest management.
      </li>
  </ul>
  <p>
      <b>THE UCONN DEPTARTMENT OF PUBLIC POLICY</b> &ndash; West Hartford, Connecticut &ndash; Summer 2010<br>
      <b><i>Graduate Assistant</i></b> &ndash; Performed multiple functions which supported the department which offers the Master of Public Administration degree.
  </p>
  <ul>
      <li>Arranged and facilitated an introductory lunch event for more than 20 professional internship supervisors.
      </li>
      <li>Developed an information packet for supervisors that contained essential information about the internship process and responsibilities of supervisors.
      </li>
      <li>Edited and updated perspective student information packet and performed other general office administrative tasks.
      </li>
  </ul>
  <p>
      <b>LAW OFFICES OF LINDA K. BERTOLETTE</b> &ndash; West Hartford, Connecticut &ndash; 2008 &ndash; 2010<br>
      <b><i>Legal Assistant</i></b> &ndash; Acted as sole support staff for a single attorney general civil litigation office. Performed all general office administrative duties, court calendar management, and document preparation. Independently managed and maintained ongoing files, primarily personal injury, family law and workers compensation with direct mentoring from supervisor.
  </p>
  <ul>
      <li>Handled a caseload of up to 60 files at a time, with heavy emphasis on family law.
      </li>
      <li>Worked up to 30 hours per week while in law school. Received valuable mentoring from a successful attorney.
      </li>
  </ul>
  <p>
      <b>NEW HAVEN SUPERIOR COURT</b> &ndash; New Haven, Connecticut &ndash; 2008<br>
      <b><i>Department of Family Relations Intern</i></b> &ndash; Practiced methods of alternative dispute resolution in area of family law, including; property, financial support, divorce, child custody and visitation.
  </p>
  <ul>
      <li>Assisted Family Relation Counselors in negotiations, mediations, client intake, court representations and general administrative tasks.
      </li>
  </ul>
  <p>
      <b>THE CONNECTICUT PUBLIC INTEREST LAW JOURNAL</b> &ndash; Hartford, Connecticut &ndash; 2008 &ndash; 2009<br>
      <b><i>Managing Editor</i></b> &ndash; Controlled and monitored all aspects of publication of student operated publication. Supervised and delegated proofreading and source checking tasks to over 45 student editors. Communicated directly with contributing authors and publishing service representatives.
  </p>
  <p>
      <b>UNIVERSITY OF CONNECTICUT SCHOOL OF LAW</b> &ndash; Hartford, Connecticut &ndash; Fall 2007<br>
      <b><i>Lawyering Process Teaching Assistant</i></b> &ndash; Assisted professor in teaching legal research and writing to first year law students. Conducted group seminars of over 25 students teaching legal citation style. Held individual meetings to mentor and help students improve their legal writing skills.
  </p>
  <ul>
      <li>Selected out of a competitive application process to serve as a Teacher Assistant during second year of law school.
      </li>
      <li>Along with another Teaching Assistant, taught a class on Citation style. Supported a Research module taught by Librarian.
      </li>
  </ul>
  <p>
      <b>MONTPELIER PUBLIC SCHOOLS</b> &ndash; Montpelier, Vermont &ndash; Summer 2007<br>
      <b><i>Department of Support Services, Intern</i></b> &ndash; Researched state and federal laws concerning education policies and procedures, with specific focus on Special Services, which met home schooling and special needs within the district, effecting 130 students. Reported to a professional with Juris Doctor and Master of Public Administration degrees. Drafted and revised district education policies to ensure complete compliance with state and federal law including but not limited to; Student Education Record Policies, Restraint Policies, Email Policies, and Home School Regulations.
  </p>
  <ul>
      <li>Brought a high degree of organization, planning and successful execution to the task. Significantly upgraded the districts compliance posture.
      </li>
  </ul>
  <p>
      <b>GIULIANO &amp; SCALORA, P.C.</b> &ndash; Middletown, Connecticut &ndash; 2006 &ndash; 2007<br>
      <b><i>Legal Assistant</i></b> &ndash; Acted as sole support staff for a busy two&ndash;attorney civil litigation office. The senior partner, the Honorable Sebastian N. Giuliano, was (and still is) the Mayor of Middletown. Performed all general office administrative duties, court calendar management and document preparation.
  </p>
  <ul>
      <li>Independently managed and maintained all ongoing personal injury, family law and real estate transaction files with direct mentoring from attorneys.
      </li>
  </ul>
  <p>
      <b>STATE OF CONNECTICUT &ndash; Department of Children and Families</b> &ndash; Norwich, Connecticut &ndash; Summer 2005<br>
      <b><i>Legal Intern</i></b> &ndash; Worked directly with in house counsel and paralegal staff with daily office functions including court filings, calendar management, Freedom of Information Requests and other administrative tasks.
  </p>
  <ul>
      <li>Synthesized and compiled a comprehensive reference database of all available Connecticut substantiation decisions accessible by type of abuse or neglect, factual pattern and hearing officer. This provided an ongoing resource for the department and was used by other departments around the state.
      </li>
  </ul>
  <hr>
  <h3 class="text-center">
      EDUCATION
  </h3>
  <p>
      <b>UNVERSITY OF CONNECTICUT</b> &ndash; West Hartford, Connecticut<br>
      <b><i>Master of Public Administration, 2011 &ndash; GPA: 3.54</i></b><br>
      <b><i>Certificate in Public Financial Management</i></b><br>
      <b><i>Certificate in Public and Nonprofit Management</i></b>
  </p>
  <h4 class="text-center">
      Independent Research Project
  </h4>
  <div class="text-center">
      <p>
          The Economics of Education and School Finance Reform
      </p>
  </div>
  <h4 class="text-center">
      Selected Coursework
  </h4>
  <div class="text-center">
      <p>
          Government Financial Administration; Analytical Tools for Public Problems; Applied Research Design; Applied<br>
          Quantitative Methods; Policy Analysis; Program Development and Evaliation; Human Resource Management;<br>
          Management of Non&ndash;Profit Organizations; Labor Relations &amp; Public Financial Management.
      </p>
  </div>
  <p>
      <b>UNIVERSITY OF CONNECTICUT SCHOOL OF LAW</b> &ndash; Hartford, Connecticut<br>
      <b><i>Juris Doctor, 2009 &ndash; GPA: 3.10</i></b>
  </p>
  <h4 class="text-center">
      Achievement
  </h4>
  <div class="text-center">
      <p>
          Managing Editor, Connecticut Public Interest Law Journal
      </p>
  </div>
  <h4 class="text-center">
      Selected Coursework
  </h4>
  <div class="text-center">
      <p>
          Law and Public Education; Juvenile Law; Family Law; Advanced Topics of Family Law.
      </p>
  </div>
  <p>
      <b>UNIVERSITY OF CONNECTICUT</b> &ndash; Storrs, Connecticut<br>
      <b><i>Bachelor of Arts, Psychology, 2005 &ndash; Cum Laude &ndash; GPA: 3.54</i></b>
  </p>
  <h4 class="text-center">
      Honors Thesis
  </h4>
  <div class="text-center">
      <p>
          “Adolescent Romantic Relationships and Academic Achievement”
      </p>
  </div>
  <h4 class="text-center">
      Achievements
  </h4>
  <div class="text-center">
      <p>
          University of Connecticut Honors Program<br>
          Dean's List<br>
          Golden Key International Honors Society<br>
          Distinguished Service Key from the Phi Sigma Pi National Honors Fraternity<br>
      </p>
  </div>
  <h4 class="text-center">
      Study Abroad
  </h4>
  <div class="text-center">
      <p>
          Oxford University, Oxford, England (Fall 2004)
      </p>
  </div>
  <hr>
  <h3 class="text-center">
      BAR ADMISSION
  </h3>
  <div class="text-center">
      <p>
          Connecticut (November 2009)
      </p>
  </div>
  <hr>
  <h3 class="text-center">
      AFFILIATIONS
  </h3>
  <div class="text-center">
      <p>
          National Association for Public Administraors, The Connecticut Chapter of the American Society for Public Administrators<br>
          American Bar Association, Connecticut Bar Association
      </p>
  </div>
  <hr>
  <h4 class="text-center">
      Professional References and Work Samples Provided Upon Request
  </h4>
{% endblock %}
