{% extends 'layout.html' %}
{% set active_page = "index" %}

{% block content %}
  <div>
    <p class="lead text-center">My career has been dedicated to improving the well-being of all children by advocating and promoting wise public policy focused on strategic investment in America's youth and their families. The foundation of my career combines a strong academic preparation with a record of excellence in diverse and challenging roles.</p>

    <p class="lead text-center">I am a proud three time alumna from The University of Connecticut, receiving my Bachelors of Arts (2005), Juris Doctor (2009) and Masters of Public Administration (2011) from the prestigious public university.</p>
  </div>
{% endblock %}
